<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">San Jose Clean Streets Project</h5>
                <p class="grey-text text-lighten-4">Guided by Dr. Magdalini Eirinaki, Computer Engineering Department, San Jose State University</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Project Development Team</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">Chandni Balchandani</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Rakshith Koravadi Hatwar</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Parteek Makkar</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Yanki Shah</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Pooja Yelure</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2017 Copyright All Rights Reserved
            <a class="grey-text text-lighten-4 right" href="https://github.com/ksuperman/cleanstreet_server">Github Repo</a>
        </div>
    </div>
</footer>