<!DOCTYPE html>
<html lang="en-US">
<head>
    <!-- Browser Meta Info -->
    <link rel="shortcut icon"
          href="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6f/Wikivoyage_fantasy_balloon_logo4_lenkastabilo_blues_favicon.svg/2000px-Wikivoyage_fantasy_balloon_logo4_lenkastabilo_blues_favicon.svg.png"
          type="image/x-icon"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Image Annotation Tool</title>

    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Core Styling CSS -->

    <link rel="stylesheet" type="text/css" href="/bower_components/materialize/dist/css/materialize.css"
          media="screen,projection">
    <link rel="stylesheet" type="text/css" href="/bower_components/datatables.net-dt/css/jquery.dataTables.css">

    <link rel="stylesheet" type="text/css"
          href="/bower_components/angular-datatables/dist/css/angular-datatables.css">

    <!-- Core Scripts Init -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/datatables.net/js/jquery.dataTables.js"></script>
    <script src="https://cdn.datatables.net/responsive/1.0.7/js/dataTables.responsive.min.js"></script>
    <script src="/bower_components/materialize/dist/js/materialize.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="/bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="/bower_components/angular-messages/angular-messages.min.js"></script>
    <script src="/bower_components/angular-material/angular-material.min.js"></script>

    <!-- Data Tables Components -->
<!--
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.colVis.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
-->

    <!-- Other Modules -->
    <script src="/bower_components/angular-datatables/dist/angular-datatables.js"></script>
    <script src="/bower_components/angular-datatables/dist/plugins/bootstrap/angular-datatables.bootstrap.js"></script>
    <script src="/bower_components/angular-datatables/dist/plugins/buttons/angular-datatables.buttons.js"></script>
    <script src="/bower_components/piexifjs/piexif.js"></script>

    <!-- Angular Application Init -->
    <script src="/tools/static/js/appOD.js"></script>
    <script src="/tools/static/js/controllers/AnnotationHubContollerOD.js"></script>
    <script src="/tools/static/js/controllers/HeaderControllerOD.js"></script>
    <script src="/tools/static/js/controllers/PendingImagesControllerOD.js"></script>
    <script src="/tools/static/js/controllers/ReviewedImagesControllerOD.js"></script>
    <script src="/tools/static/js/controllers/ImageUploadControllerOD.js"></script>

    <style>
        html {
            height: 100%;
            width: 100%;
        }

        body {
            height: 100%;
            width: 100%;
        }

        #content-container {
            padding: 0px 10px;
        }

        .nav-tabs {
            border-bottom: 0;
        }

        i.material-icons.header-icon {
            font-size: 37px;
        }

        .tab-content {
            margin-top: 0;
            padding: 0;
            background: inherit;
            border-radius: 10px;
        }
        select[name="DataTables_Table_0_length"] {
            display: inline-block;
            background: #009688;
            color: white;
            font-size: 18px;
            width: 70px;
        }
        .image-center{
            display: block;
            margin: 0 auto;
            width: 100%;
        }
        #imageDetailModal{
            width: 100%;
            height: 100%;
            max-height: 100%;
            top: 0 !important;
        }
        .image-container {
            max-height: 100%;
        }
        #canvas{
            width: 100%;
            height: 100%;
        }
        .closebutton {
            position: absolute;
            top: 6px;
            right: 8px;
        }
        .download {
            right: 88px !important;
        }
        @media only screen and (max-width: 992px) {
            .download {
                right: 24px !important;
                top: -50px !important;
            }
        }
    </style>
</head>
<body ng-app="CleanStreetToolApplication">
<nav class="nav-extended" ng-controller="HeaderController">
    <div class="nav-wrapper">
        <a href="/tools/annotationHub" class="brand-logo"><i class="material-icons header-icon">dashboard</i>Clean Streets</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/tools/annotationHub"><i class="material-icons left">dashboard</i>Annotation Hub</a></li>
            <li><a href="https://github.com/ksuperman/cleanstreet_server"><i class="material-icons left">code</i>Github</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><a href="/tools/annotationHub"><i class="material-icons">dashboard</i>Annotation Hub</a></li>
            <li><a href="https://github.com/ksuperman/cleanstreet_server"><i class="material-icons">code</i>Github</a></li>
        </ul>
    </div>
    <div class="nav-content">
        <button data-target="imageUploadModal"
                class="btn-floating btn-large halfway-fab waves-effect waves-light teal pulse">
            <i class="material-icons">add</i>
        </button>
        <button class="btn-floating btn-large halfway-fab waves-effect waves-light teal download" ng-click="createTrainingFile()">
            <i class="material-icons">cloud_download</i>
        </button>
        <ul class="tabs tabs-transparent">
            <li class="tab"><a class="active" href="#pendingImages">Pending Images</a></li>
            <li class="tab"><a href="#reviewedImages">Reviewed Images</a></li>
        </ul>
    </div>
</nav>
<div id='content-container'>
    <div id="mt-top-nohover">
        <div id="mt-instructions">
            <h4>Clean Streets Object Detection Annotation Tool</h4>
        </div>
    </div>
    <div id="exTab1" class="nav-tabs" ng-controller="AnnotationHubController">
        <div class="tab-content clearfix">
            <div id="pendingImages" class="col s12" ng-controller="PendingImagesController as PendingImagesController">
                <table datatable="" dt-options="PendingImagesController.dtOptions" dt-columns="PendingImagesController.dtColumns"
                       class="row-border hover responsive"></table>
                <button id="imageDetailModalButton" data-target="imageDetailModal" style="display: none;"></button>
                <!--Display Selected Image Modal Structure -->
                <div id="imageDetailModal" class="modal imageDetailModal">
                    <div class="modal-content">
                        <h5>{{selectedImage.file_name}}<a class="btn-floating btn-large waves-effect waves-light red modal-action modal-close closebutton"><i class="material-icons">close</i></a></h5>
                        <div class="image-container">
                            <canvas id="canvas" width="1024" height="768"></canvas>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button href="" class="modal-action modal-close waves-effect waves-light btn" ng-click="navigateToAnnotationTool()">Edit Annotations</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Upload Image Modal Structure -->
<div id="imageUploadModal" class="modal bottom-sheet" ng-controller="ImageUploadController">
    <div class="modal-content">
        <h5>Upload Your Image</h5>
        <div class="row">
            <div class="input-field col s8">
                <input id="imagetags" type="text" class="validate" ng-model="imageUpload.imagetags">
                <label for="imagetags">Image Tags</label>
            </div>
            <div class="input-field col s4">
                <select id="imageType" class="selectpicker btn  blue darken-1" ng-model="imageUpload.imageType">
                    <option value="training" default>Training</option>
                    <option value="validate">Validation</option>
                </select>
            </div>
        </div>
        <div class="file-field input-field">
            <div class="btn">
                <span>File</span>
                <input id="imagefilepath" type="file" ng-model="imageUpload.imagefilepath" ng-change="fileSelected()">
            </div>
            <div class="file-path-wrapper">
                <input id="imageFileName" class="file-path validate" type="text" ng-model="imageUpload.imageFileName">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" id="closeUploadPrompt" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
        <a href="#!" class="waves-effect waves-light btn" ng-click="uploadFileToUrl()">Upload</a>
    </div>
</div>
</body>
</html>